<!DOCTYPE html>
<html>
    <head>
        <title>Register/Login</title>
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>
        <div class="reg-div">
            <form action="/" method="post">
                <h1>Please Register ✍️</h1>
                <input type="text" required placeholder="Enter Name" name="name">
                <input type="email" required placeholder="Enter email" name="email">
                <input type="number" required placeholder="Enter Mobile number" name="pno">
                <input type="password" required placeholder="Enter password" name="pwd">
                <button type="submit">Register</button>
            </form>
        </div>
        <div class="log-div">
            <form action="/a" method="post">
                <h1>Please Login 🤌👇</h1>
                <input type="email" required placeholder="Enter email" name="email">
                <input type="password" required placeholder="Enter password" name="pwd">
                <button type="submit">Login</button>
            </form>
        </div>
    </body>
</html>